.button {
	background-color: black;
	display: inline-block;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	color: white !important;
	cursor: pointer;
	font-weight: 600;
	padding: 20px 0;
	box-sizing: border-box;
	font-size: 1rem;
}