.button {
	background-color: black;
	display: inline-block;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	color: white !important;
	cursor: pointer;
	font-weight: 600;
	max-width: 400px;
	padding: 20px 25px;
	font-size: 1rem;
}