$light-text : #777370;

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
* {
	font-family: 'Archivo', sans-serif;
}
a:visited, a:link{
	text-decoration: none;
	color: inherit;
}
h1,h2,h3,h4,h5,h6{
	padding:0;
	margin: 0;
	font-weight: 500;
	font-size: inherit;
}
h1{
	font-size: 3.2rem;
}
h2{
	font-size: 2rem;
}
.bold{
	font-weight: 700;
}

.light-text{
	color: $light-text;
}
